/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.6;
    background-color: #000;
    position: relative;
    font-size: 24px;
    color: #fff;
}

.hero-section {
    position: relative;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    margin-left: 120px;
    margin-right: 120px;
}

.left {
    width: 50%;
    z-index: 50;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.left p {
    font-size: 24px;
    margin-top: 20px;
    line-height: 1.6;
}

button {
    border-bottom: #29f8a3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background: transparent;
/*    uppercase */

}

button a {
    color: #fff;
    /*text-decoration: none;*/
    font-size: 20px;
    line-height: 1.6;
    text-decoration: underline;
    text-decoration-color: #29f8a3;
    text-underline-offset: 10px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px 120px;
}

.experience {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 120px;
}

.profile-pic {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.profile-pic img {
    width: 600px;
    height: 500px;
    /*border-radius: 50%;*/
    margin-bottom: 20px;
    object-fit: cover;
}

.profile {
    height: 100%;
    width: 96px;
    background: #333;
}

.logo {
    font-size: 28px;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1, h2, h3 {
    color: #fff; /* Set heading colors */
}

.intro {
    font-size: 72px;
}

.name-text {
    text-decoration: underline;
    text-decoration-color: #29f8a3;
    text-decoration-thickness: 5px;
    line-height: 72px;
    text-underline-offset: 10px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 96px 120px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 120px;
    background: #333;
}

.contact-section .left {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    align-items: end;
}

input {
    background: transparent;
    border-bottom: 1px solid #fff;
    width: 30rem;
    outline: none;
    color: #fff;
    padding: 10px;
}

textarea {
    background: transparent;
    border-bottom: 1px solid #fff;
    width: 30rem;
    outline: none;
    color: #fff;
    padding: 10px;
}

img{
    margin: 10px;
    padding: 5px;
    border: 1px solid #000;
    position: relative;
    top: 10px;
    left: 20px;
    opacity: 0.5;
}


li {
    list-style-type: none;
}

a > img {
    height: 24px;
    width: 24px;
}

footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
